/* Ensure that the card-quote is inside card-testimonial and position is relative */
.card-testimonial .card-quote {
  position: relative;
}

/* Add quote decoration to card-quote using before pseudo-element */
.card-testimonial .card-quote::before {
  content: "\201C"; /* Left Double Quotation Mark */
  position: absolute;
  top: -4.5rem;
  left: -1rem;
  color: #efeded;
  font-size: 10rem;
  z-index: -1;
}

